<section class="banner about-banner">
    <div class="leaf left"></div>
    <h2 data-aos="fade-up">
        {{section.settings.about_banner_text}}
    </h2>
    <div class="leaf right"></div>
</section>

{% schema %}

{
    "name": "About Banner",
    "settings": [
        {
            "type": "textarea",
            "id": "about_banner_text",
            "label": "Banner Text",
            "default": "Our mission is to make the experience of finding sexy, comfortable underwear a dream come true",
            "placeholder": "Change Text Here..."
        }
    ]
}

{% endschema %}
