<section class="banner info-page-banner">
    <div class="leaf left"></div>
    <h2>
        {{section.settings.returns_banner_text}}
    </h2>
    <div class="leaf right"></div>
</section>

{% schema %}

{
    "name": "Returns Banner",
    "settings": [
        {
            "type": "textarea",
            "id": "returns_banner_text",
            "label": "Banner Text",
            "default": "Our returns policy",
            "placeholder": "Change Text Here..."
        }
    ]
}

{% endschema %}
