<section class="values">
    <div class="container about-container">
        <h2 data-aos="fade-up">{{section.settings.values_title}}</h2>
        <div class="values-icons-container">
            <article data-aos="fade-up">
                <div class="values-icon heart"></div>
                <span>Inclusivity</span>
            </article>
            <article data-aos="fade-up" data-aos-delay="50">
                <div class="values-icon message"></div>
                <span>Honesty</span>
            </article>
            <article data-aos="fade-up" data-aos-delay="100">
                <div class="values-icon world"></div>
                <span>Ethical</span>
            </article>
        </div>
    </div>
</section>

{% schema %}

{
"name": "Values",
"settings": [
{
"type": "text",
"id": "values_title",
"label": "Values Title",
"default": "Our values",
"placeholder": "Change Text Here..."
}
]
}

{% endschema %}