{% if customer %}
    <script type="text/javascript">
        window.location = "/account";
    </script>
{% endif %}

<div class="register-page">
    <div class="leaf left"></div>
    <div class="register-info">
        <h2>Create your account</h2>
        {% form 'create_customer' %}
            {{ form.errors | default_errors }}

            <div class="group">
                <input name="customer[first_name]" required type="text"/>
                <span class="bar"></span>
                <label>Your Name</label>
            </div>

            <div class="group">
                <input name="customer[email]" required type="email"/>
                <span class="bar"></span>
                <label>Your email</label>
            </div>

            <div class="group">
                <input id="passwordInput" name="customer[password]" required type="password"/>
                <span class="bar"></span>
                <label>Your password</label>
                <span class="eye" onclick="passwordVisible()">
                    {{ "eye.svg" | asset_url | img_tag: "password" }}
                </span>
            </div>

            <button class="btn-green invert-btn-green" type="submit" value="Create">
                Create Account
                <span class="svg svg-green">
                    {% include 'button-svg' %}
                </span>
            </button>

            <p>
                Already have an account?
                <a href="/account/login">Sign in</a>
            </p>

        {% endform %}
    </div>
    <div class="leaf right"></div>
</div>

<script>
  function passwordVisible() {
    var x = document.getElementById("passwordInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
