<section class="banner">
    <div class="leaf left"></div>
    <h2 data-aos="fade-up">
        {{section.settings.banner_text}}
    </h2>
    <div class="leaf right"></div>
</section>

{% schema %}

{
    "name": "Banner",
    "settings": [
        {
            "type": "textarea",
            "id": "banner_text",
            "label": "Banner Text",
            "default": "Embrace your natural figure with our flattering, sexy and natural lingerie",
            "placeholder": "Change Text Here..."
        }
    ]
}

{% endschema %}
