<section class="hero">
    <div class="container">
        <div class="heroContent">
            <h1 data-aos="fade-up">{{section.settings.hero_title}}</h1>
            <p data-aos="fade-up" data-aos-delay="100">{{section.settings.hero_subtitle}}</p>
            <a data-aos="fade-up" data-aos-delay="200" href="/collections/all">
                <button class="invert-btn">{{section.settings.hero_button}}
                    <span class="svg">{% include 'button-svg' %}</span>
                </button>
            </a>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Hero",
    "settings": [
        {
        "type": "text",
        "id": "hero_title",
        "label": "Hero Title",
        "default": "Rediscover the natural you",
        "placeholder": "Change Title Here..."
        },
        {
        "type": "textarea",
        "id": "hero_subtitle",
        "label": "Hero Subtitle",
        "default": "Our easiest chuck-on-and-go staples come with a serious style heritage that’sliberating, sexy, comfy and supremely cool.",
        "placeholder": "Change Subtitle Here..."
        },
        {
        "type": "text",
        "id": "hero_button",
        "label": "Hero Button Text",
        "default": "Shop All Products",
        "placeholder": "Change Button Here..."
        }
    ]
}
{% endschema %}