<!-- /templates/customers/reset_password.liquid -->
<div class="password-page">
    <div class="container">
        <div class="password-info">
            <h2>Reset your password</h2>
            {% form 'reset_customer_password' %}
                {{ form.errors | default_errors }}

                <div class="group">
                    <input id="passwordInput" name="customer[password]" required type="password"/>
                    <span class="bar"></span>
                    <label for="password">New password</label>
                </div>

                <div class="group">
                    <input id="passwordInput" name="customer[password_confirmation]" required type="password"/>
                    <span class="bar"></span>
                    <label for="password_confirmation">Confirm password</label>
                </div>

                <button class="btn-white invert-btn-green" type="submit">
                    Reset Password
                    <span class="svg svg-green">
                        {% include 'button-svg' %}
                    </span>
                </button>

            {% endform %}

        </div>

        <div class="account-image"></div>
    </div>
</div>