{% section 'collection-hero' %}
<section class="collection-page">
    <div class="leaf left"></div>
    <div class="container">
        <div class="collection-details">
            <span>{{ collection.products_count }}
                products</span>
            <select id="sort-by" name="sort_by" class="collection-sort">
                <option disabled value="manual">Sort options</option>
                <option value="best-selling" {% if option.value == collection.sort_by %} selected {% endif %}>Most Popular</option>
                <option value="title-ascending" {% if option.value == collection.sort_by %} selected {% endif %}>A-Z</option>
                <option value="title-descending" {% if option.value == collection.sort_by %} selected {% endif %}>Z-A</option>
                <option value="price-ascending" {% if option.value == collection.sort_by %} selected {% endif %}>£, Lowest</option>
                <option value="price-descending" {% if option.value == collection.sort_by %} selected {% endif %}>£, Highest</option>
                <option value="created-descending" {% if option.value == collection.sort_by %} selected {% endif %}>Newest First</option>
            </select>
        </div>
        <div class="product-container">
            {% for item in collection.products %}
                {% include 'product-item', index: forloop.index0 %}
            {% else %}
                <p class="infoText">No Matches. Please Select a Collection.</p>
            {% endfor %}
        </div>
    </div>
    <div class="leaf right"></div>
</section>
{% section 'collection-info-block' %}

<script>
Shopify.queryParams = {};
console.log("location", location);
if (location.search.length) {
for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue=aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}

if (Shopify.queryParams.sort_by) {
  document.querySelector(' #sort-by').value=Shopify.queryParams.sort_by; } else {
    document.querySelector('#sort-by').value="manual" ; } document.querySelector('#sort-by').addEventListener('change',
    function() { const urlSearchParams=new URLSearchParams( window.location.search.indexOf("sort_by")> -1
    ? window.location.search.replace(/sort_by/gi,"")
    : window.location.search
    );

    urlSearchParams.set(this.name, this.value);

    window.location = `?sort_by${urlSearchParams}`;
    });

</script>
