<div class="recover-page">
    <div class="container">
        <div class="recover-info">
            <h2>Password recovery</h2>
            <p>
                On completion of this form, an email will be sent to your address,
                        detailing how to reset your password.
            </p>

            {% form 'recover_customer_password' %}
                <div class="group">
                    <input id="user_email" name="email" required type="email"/>
                    <span class="bar"></span>
                    <label for="user_email">Your email</label>
                </div>
                <button class="btn btn-white invert-btn-green" type="submit">
                    Submit
                    <span class="svg svg-green">
                        {% include 'button-svg' %}
                    </span>
                </button>
            {% endform %}
        </div>
        <div class="account-image"></div>
    </div>
</div>
